# ─── CONFIGURACIÓN DE PRODUCCIÓN / DOCKER ───
DOMAIN=tudominio.com
ACME_EMAIL=tu_correo@tudominio.com

POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=contrasena_super_segura_de_tu_bd_2026
POSTGRES_DB=sistema_ventas_prod

SECRET_KEY=genera_un_string_aleatorio_de_64_caracteres_aqui
ALLOWED_ORIGINS=https://tudominio.com,https://app.tudominio.com,https://www.tudominio.com
